body {
  height: 100%;
  background-color: white;
}

.thumbsBox {
  width: 50%;
  height: 50%;
  border: 10px solid black;
  text-align: center;
  line-height: 350px;
  font-size: 100px;
  color: black;
}

.ptop {
  Position: absolute;
  top: 0px;
}

.pbot {
  Position: absolute;
  bottom: 0px;
}

.pleft {
  Position: absolute;
  left: 0px;
}

.pright {
  Position: absolute;
  right: 0px;
}

#tup:hover {
  background-color: #bfb;
}

#tdown:hover {
  background-color: #fbb;
}

#twiggle:hover {
  background-color: #bff;
}

#tremove:hover {
  background-color: #ffb;
}

#tup {
  background-color: #00cc00;
}

#tdown {
  background-color: #cc0000;
}

#twiggle {
  background-color: #00ffff;
}

#tremove {
  background-color: #ffff00;
}
#headerBox {
  color: green;
  font-size: 50px;
}
p {
  color: brown;
  font-size: 15px;
}
.paraBox {
  border: 1px solid black;
}
#navBox {
  display: flex;
  justify-content: space-between;
  flex-wrap:
}

.navButtons {
  Display: block;
}
