body {
  background: #1c7eed;
  width: 1000px;
  margin: auto;
  border-radius: auto
}

.space {
  border: 10px solid #ffffff;
  margin: 5px;
  padding: 3px;
}

.blogBox {
  border: 3px solid #0a0909;
  padding: 5px;
  text-shadow: 1px 1px #0a0909;
  background: #1c7eed;
  border-spacing: 10px;
  background: #ffffff
}

.linkBox {
  border: 3px solid #0a0909;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  text-shadow: 1px 1px #0a0909;
  background: #ffffff
}

#content {
  border: 10px solid #0a0909;
  padding: 20px;
  background: #ffffff
}

#headerBox {
  border: 5px solid #0a0909;
  padding: 5px;
  background: #ffffff
}

h1 {
  vertical-align: middle;
  text-align: center;
  background: #ffffff
}

p {
  font-size: 13px color: #000000
}

#linkMenu {
  border: 5px solid #0a0909;
  padding: 5px;
  background: #ffffff
}
