body {
  background: #1c7eed;
  width: 1000px;
  margin: auto;
  border-radius: auto
}

.space {
  border: 10px solid #ffffff;
  margin: 5px;
  padding: 3px;
}

.blogBox {
  border: 3px solid #0a0909;
  padding: 5px;
  text-shadow: 1px 1px #0a0909;
  background: #1c7eed;
  border-spacing: 10px;
  background: #ffffff
}

.linkBox {
  border: 3px solid #0a0909;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  background: #ffffff margin:auto;
  width: 10%;
}

#content {
  border: 10px solid #0a0909;
  padding: 20px;
  background: #ffffff
}

#headerBox {
  border: 5px solid #0a0909;
  padding: 5px;
  background: #ffffff
}

h1 {
  vertical-align: middle;
  text-align: center;
  background: #ffffff
}

p {
  font-size: 13px color: #000000
}

#linkMenu {
  border: 5px solid #0a0909;
  padding: 5px;
  background: #ffffff;
  display: none;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
